.categoriesRegistration {
    /* padding-top: 60px; */
    display: flex;
    flex-direction: column;
    /* border: 1px black; */
    width: 100%;
    height: 100vh;
    margin-top: 200px;
}

.categoriesRegistration .categoriesWeapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.categoriesRegistration .insertCategory {
    border-left: 3px dotted black;
    padding-left: 20px;
    height: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}

.categoriesRegistration input {
    text-align: center;
    font-size: large;
    border-radius: 7px;
    border: none;
    /* border: 10px solid blue; */
}

.categoriesRegistration h3 {
    font-size: x-large;
}

.categoriesRegistration .categoriesListDiv {
    /* border: 2px solid green; */
    margin-top: 30px;
}

#submitCategoryBTN:hover {
    outline: 2px solid black;
}